:root {
  --background-dark-mode: #333333;
  --secondary-color: #D5CCC7;
  --gray: #A9A29C;
  --dark: #28262B;
  --tan-color: #B68D40;
  --cream-color: #F4EBD0;
  --charcoal-color: #122620;
  --gold-color: #D6AD60;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-dark-mode);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}

.calendar-search {
  display: flex; 
  background-color: #28262B;
  border-radius: 15px;
  align-items: flex-end;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.calendar-options input {
  height: 2rem;
  background-color: var(--dark);
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  color: #ffffff;
  padding: 0 0 0 1rem;
}

.calendar-options input:focus {
  outline: none;
}

.calendar-options input::placeholder {
  color: #ffffffd0;
}

.options {
  display: flex;
  flex-direction: row;
  margin-top: 1.2rem;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.options div {
  background-color: var(--dark);
  border-radius: 10px;
  font-size: 1.1rem;
  text-align: center;
  width: 5.1rem;
  color: white;
  cursor: pointer;
  padding: 0.2rem;
}

.options div.active {
  background-color: var(--gold-color);
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-table {
  background-color: var(--dark);
  border-radius: 15px;
  padding: 0.4rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 25rem;
  width: 100%;
}

.calendar-container {
  width: 90%;
  display: flex;
  justify-content: center;
}

.calendar-date {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.calendar-date-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.calendar-date button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

td, th {
  text-align: center;
  font-size: 1.2rem;
  width: 2.8rem;
  height: 2.5rem;
}

td {
  cursor: pointer;
}

td:hover {
  background-color: #a9a29c5b;
  border-radius: 50%;
}