.tagsContainer {
  display: flex;
  flex-direction: column;
  background-color: #28262B;
  width: 90%;
  color: white;
  border-radius: 15px; 
  margin-top: 1.2rem;
  min-height: 7rem;
  padding: 0 1rem;
}

.tagsBody {
  display: flex;
  flex-direction: row;
  max-width: 90%; 
  justify-content: space-between;
  align-items: flex-start;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
}

.btnAddTag {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.searchInput:active {
  border: none;
  outline: none;
}

.addTagContainer {
  position: fixed;
  bottom: 25%;
  left: 10%;
  right: 10%;
  top: 45%;
  z-index: 10;
  background-color: #28262B;
  padding: 0 1.5rem;
  border-radius: 15px;
  border: 2px solid #D6AD60;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  align-items: center;
}

.addTagBody {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.addTagBody div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addTagBody input {
  width: 8.5rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  background-color: #d6ad6056;
  color: #FFFFFF;
}

.addTagBody input:focus {
  outline: none;
}

.addTagOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.btnNewTag {
  width: 8rem;
  height: 2.3rem;
  font-size: 1.3rem;
  margin-top: 2rem;
  background-color: #28262B;
  border: 2px solid #D6AD60;
  color: #D6AD60;
  font-weight: bold;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}

.btnNewTag:hover {
  background-color: #D6AD60;
  color: #28262B;
}

.btnNewTag:disabled {
  background-color: #28262b;
  color: #d6ad604d;
  border: #D6AD604d 2px solid;
  cursor: not-allowed;
}

.yearCalendarView {
  background-color: #28262B;
  color: #FFFFFF;
  border-radius: 10px;
  margin: 0.15rem;
  min-height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
  cursor: auto;
}

.yearCalendarView td, .yearCalendarView th {
  width: 0.7rem;
  height: 0.7rem;
  font-size: 0.6rem;
  cursor: auto;
}

.yearCalendarView span {
  font-weight: bold;
}

.yearCalendarContainer {
  max-width: 100%;
  margin: 1rem 0 2rem 0;
}

.yearCalendarContainer td:hover {
  border-radius: 0;
  background-color: transparent;
}

.monthCalendar {
  background-color: #28262B;
  color: #FFFFFF;
  border-radius: 10px;
  margin-top: 1.5rem;
  padding: 1rem 0.6rem;
}

.monthCalendar td {
  font-size: 0.8rem;
  cursor: auto;
  width: 2.45rem;
}

.hoursMonth td{
  border-bottom: #FFFFFF 1px solid;
  font-size: 0.6rem;
}

.monthCalendar td:hover {
  border-radius: 0;
  background-color: transparent;
}

.dayCalendar {
  background-color: #28262B;
  color: #FFFFFF;
  border-radius: 10px;
  margin-top: 1.5rem;
  padding: 1rem 0.6rem;
}

.dayCalendar td {
  font-size: 0.7rem;
  border-bottom: 1px solid #FFFFFF;
  height: 2.5rem;
  align-items: center;
  width: 2.45rem;
}

.dayCalendar td:hover {
  border-radius: 0;
  background-color: transparent;
}

.btnAddTask {
  background-color: #D6AD60;
  border: none;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  width: 3rem;
  height: 3rem;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8%;
  right: 5%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btnAddTask:hover {
  background-color: #FFFFFF;
  color: #D6AD60;
}

.addTaskOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.addTaskContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #28262B;
  padding: 1rem 2rem 2rem;
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

.addTaskBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  color: #FFFFFF;
}

.addTaskBody div {
  display: flex;
  justify-content: space-between;
}

.addTaskBody input {
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
  background-color: #d6ad6056;
  color: #FFFFFF;
  width: 12rem;
}

.addTaskBody input:focus {
  outline: none;
}

.addTaskBody select {
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
  background-color: #d6ad6056;
  color: #FFFFFF;
  width: 12rem;
}

.addTaskBody select:focus {
  outline: none;
}

.addTaskBody option {
  background-color: #28262B;
  color: #FFFFFF;
}

.addTaskBody textarea {
  max-height: 5rem;
  min-height: 3rem;
  min-width: 12rem;
  max-width: 12rem;
  border: none;
  background-color: #d6ad6056;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
}

.addTaskBody textarea:focus {
  outline: none;
}

.addTaskBody textarea::placeholder {
  color: #ffffffaf;
}

.btnCreateTask {
  padding: 0.5rem;
  font-size: 1.4rem;
  background-color: #B68D40;
  color: #dfdfdf;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btnCreateTask:hover {
  background-color: #dfdfdf;
  color: #B68D40;
}

.btnCreateTask:disabled {
  background-color: #28262b;
  color: #d6ad604d;
  border: #D6AD604d 2px solid;
  cursor: not-allowed;
}

.addTaskLine {
  width: 100%;
  border-bottom: 2px solid #6d6d6d;
  margin: 1rem 0;
}

.addTaskHourInput {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 0.5rem;
}

.addTaskHourInput div {
  width: 12rem;
  background-color: #d6ad6056;
  align-items: center;
  border-radius: 5px;
  justify-content: space-around;
  padding: 0.2rem;
}

.addTaskHourInput span {
  cursor: pointer;
}

.addTaskHourInput p {
  margin: 0;
}